html, body{
	height:  97%;
}

@import url(//db.onlinewebfonts.com/c/bcd0c9bdcf29c2dd630785c724469553?family=Verlag+Book);

@font-face {font-family: "Verlag Book"; src: url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.eot"); src: url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.woff") format("woff"), url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bcd0c9bdcf29c2dd630785c724469553.svg#Verlag Book") format("svg"); }


body {
	text-align: left; 
	padding: 0;
	font-family: Verlag Book;
	font-size: 2vw;
	background-image: url('https://drive.google.com/uc?id=1hdnBwxYVYDom1wsCf9jElloss1pOIxKi');
	background-size: contain;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	background-position-x: right;
	background-position-y: bottom;
	margin-bottom: 0px;
}

h1 {
	line-height: 110%;
	text-align: left; 
	font-size: 7vw; 
	position: relative; 
	margin-top: 35px; 
	margin-left: 22px;
	font-family: Verlag Book
}
ul {
	text-align:left;
	margin-left: 22px;
	font-family: Verlag Book;
	list-style-type: none;
	padding: 0px;	
	margin-right: 40vw; 
	line-height: 100%;
}

mark span {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: Verlag Book; 
	text-align: left;
}


@media screen and (max-width: 576px){
	body{
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		background-image:  none;
		margin: 0px;
	}
	ul{
		padding: 0;
		margin-left: 0px;
		margin-right: 0px;
    	list-style-type: none;
		text-align: center;
		font-size: 6vw;
		top: 0px;
		left:  1px;
		right: 1px;
		line-height: 120%;
	}
	h1{
		margin-left: 0px;
		top:  5px;
		left: 0px;
		padding: 0;
		font-size: 14.5vw;
		text-align: center;
		margin-top: 0px; 
		font-family: Verlag Book;
	}
	background-image { display: none; }
	    }
}
