html, body{
	height:  100%;
}

body {
	text-align: left; 
	margin-left: 0px; 
	padding: 0;
	font-family: Verlag;
	font-size: 2vw;
	background-image: url('https://i.ibb.co/k6S6BM2/niuto-background.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	background-position-x: right;
	background-position-y: bottom;
	margin-bottom: 0px;
}

h1 {
	text-align: left; 
	font-size: 7vw; 
	position: relative; 
}
ul {
	text-align:left;
	font-family: Verlag;
	line-height: 200%;
	position: relative; 
	font-size: 2vw;
	list-style-type: none;
	padding: 0px;	
	margin-left: 40px; 
	margin-right: 40vw; 
	line-height: 100%;"
}
mark span {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: Verlag; 
	text-align: left;
}


@media screen and (max-width: 576px){
	body{
		background-color: pink;
		background-image:  none;
		margin: 0px;
	}
	ul{
		padding: 0;
    	list-style-type: none;
		text-align: center;
		font-size: 6vw;
		top: 0px;
		left:  1px;
		right: 1px;
		line-height: 120%;
	}
	h1{
		top:  10px;
		left: 0px;
		font-size: 14.5vw;
		text-align: center;
		margin-top: 0px; 
		font-family: Verlag;
	}
	background-image { display: none; }
	    }
}
