h1{
	text-align:  center; margin-top: 0px; font-size: 7vw; font-family: Verlag;"
}

body{
text-align: left; 
margin-right: 300px; 
margin-left: 300px; 
font-family: Verlag; 
font-size:1.5vw;
}

ul{
		list-style-type: none;
		padding: 0; 
	}

mark {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: Verlag; 
	text-align: left;
}

@media screen and (max-width: 576px){
	h1{
		font-size: 14.5vw;
	}
	body {
	text-align: left;
	margin-right: 2px; margin-left: 2px; font-size: 6vw;
	    }
}

