html, body{
	height:  97%;
}

@font-face {
    font-family: 'VerlagBook';
    font-style: normal;
    font-weight: 325;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/38686/VerlagBook.woff') format('woff');
}

@font-face {
    font-family: 'VerlagBold';
    font-style: bold;
    font-weight: 400;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/38686/VerlagBold.woff') format('woff');
}

@font-face {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 250;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/38686/VerlagLight.woff') format('woff');
}

h1 {
	text-align: center; 
	margin-left: 0px;
	line-height: 110%;
	font-size: 7vw; 
	position: relative; 
	margin-top: 35px; 
	margin-left: 0px;
	font-family: VerlagBook;
}

h2{
	font-size: 1.75vw;
	font-family: VerlagBook;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal;
}

body{
text-align: left; 
margin-right: 350px; 
margin-left: 350px; 
font-family: Verlag; 
font-size:1.5vw;
}

ul{
		list-style-type: none;
		padding: 0; 
		font-family: Verlag;
	}

mark span {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: VerlagBook; 
	text-align: left;
}

@media screen and (max-width: 576px){
	h1{
		left: 0;
		margin-top:  10px;
		margin-left: 0px;
		padding: 0;
		font-size: 14.5vw;
		text-align: center;
		font-family: VerlagBook;
		line-height: 100%;
	}
	h2{
		margin-left: 0px;
		margin-right: 0px;
		font-size: 5.5vw;
	}
	ul{
		margin-right: 15px;
		margin-left: 15px;
	}
	body {
	text-align: left;
	font-family: Verlag;
	margin-right: 0px; 
	margin-left: 0px; 
	font-size: 5vw;
	    }
}

