h1{
	text-align:  center; margin-top: 0px;
}

body {
text-align: left; margin-right: 6vw; margin-left: 6vw; font-family: Verlag; font-size:2vw;
}

mark span {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: Verlag; 
	text-align: left;
}
